.container {
  display: block;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import './components/header';
@import './components/man';
@import './components/footer';
@import './components/width1440';
@import './components/width960';
@import './components/width768';
@import './components/widtg360';
