.footer {
  position: relative;
  min-height: 885px;
  z-index: 1;
}

.footer__img {
  z-index: 2;
  position: absolute;
  width: 951px;
  height: 897px;
  top: -26px;
}

.footer__logo--bonum {
  width: 185px;
  height: 21px;
  top: 77px;
  left: 195px;
  position: absolute;
  z-index: 5;
}

.footer__title {
  position: absolute;
  z-index: 5;
  top: 300px;
  left: 50.5%;
  width: 400px;
  height: 91px;
  font-family: Cera Pro, sans-serif;
  font-weight: bold;
  font-size: 79px;
  color: #000000;
}

.footer__subtitle {
  z-index: 5;
  position: absolute;
  width: 116px;
  height: 21px;
  left: 928px;
  top: 500px;
  font-family: Cera Pro, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #000000;
  transform: rotate(-90deg);
}
